input {
  flex: 8;
  width: 80%;
  padding: 0.6rem;
  margin: 8px 0 8px 8px;
  border: none;
  background-color: #fff9f2;
}

input:focus {
  outline: none;
  border: none;
}

input:focus::placeholder {
  color: transparent;
}

.search-button {
  flex: 1;
  background-color: #efd24c;
  border-radius: 0px 50px 50px 0px;
  color: white;
  border: none;
  min-width: 5rem;
}

.search-button:hover {
  cursor: pointer;
}

.input-container {
  border-radius: 50px;
  display: flex;
  background-color: #fff9f2;
}

.input-container-error-message {
  width: 85%;
  margin: 0 auto;
}

.svg-search {
  width: 1.2rem;
  height: 1.2rem;
  color: #fff9f2;
}

.error-message {
  border-radius: 50px;
  background-color: #ffeeed;
  width: fit-content;
  padding: 0.5rem 1rem;
  color: red;
  font-size: 12px;
  width: 99%;
  margin: 0 auto;
  text-align: left;
  margin-top: 0.2rem;
}
