.search-results {
  flex: 3;
  height: 50vh;
}

.padding {
  padding: 3rem;
}

.word-title-svg-wrapper {
  margin-bottom: 1rem;
}

.search-results div + h4 {
  color: #415361;
  margin-bottom: 0.8rem;
}

.search-results svg {
  width: 1.6rem;
  height: 1.6rem;
  color: #121c24;
}

.svg-wrapper:hover {
  background-color: rgb(189, 189, 189);
  border-radius: 50%;
}
